body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  padding: 20px;
}

.section-wrapper {
  display: flex;
}

.section-wrapper section {
  flex: 1;
  border: 1px solid #ccc;
  padding: 20px;
}

h2 {
  border-bottom: 1px solid #ccc;
  margin: 0;
  padding: 10px 0;
}

#rightSection {
  border-left: 0;
}

#data {
  background: #eee;
  line-height: 1.3em;
  padding: 20px;
}

#jsonInput {
  font-family: monospace;
  height: 600px;
  width: 100%;
}

.input-row {
  margin: 15px 0;
}

.input-row label {
  display: block;
  margin-bottom: 5px;
}

.input-row input {
  font-size: 18px;
  padding: 4px;
}

.big-btn {
  padding: 8px 16px;
}

.errors-bar {
  background: #ff2020;
  border-radius: 5px;
  color: #fff;
  margin-bottom: 15px;
  padding: 5px 0;`
}

.errors-bar li {
  margin: 8px 0;
}
